div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-12
      h1 Campaigns

  .row
    .col-sm-3
      ul.list-group
        li.list-group-item(ng-repeat='campaign in campaigns')
          h4
            a(href='#', ng-click="loadCampaign(campaign)") {{ campaign.title }}
            span.small.pull-right {{ campaign.active ? 'LIVE' : '' }}

    .col-sm-9
      a.btn.btn-default(ng-click='initCreate()', ng-show='showNewCampaignButton()') New Campaign


      //    ***********************************
      //    *********   Create Form   *********
      //    ***********************************

      div(ng-show='shouldShowCreateForm()')
        h2 Creating {{ newCampaign.title }}
        form.form(name='createForm', ng-submit='createCampaign(newCampaign)', novalidate='')
          .form-group
            label Title
            input.form-control(type='text', name='title', ng-model='newCampaign.title', required)
          .form-group
            h3 Codes
            div.input-group
              input.form-control(type='number', name='codesTotal', ng-model='codesTotal', required)
              span.input-group-addon # of codes
            p
              a.btn.btn-default.btn-xs(ng-click='generateCodes()') Generate codes
              = ' '
              select(name='codes', required)
                option(selected='selected', disabled='disabled' ng-hide='newCodes.length > 0') No codes yet
                option(ng-repeat='code in newCodes', value='{{ code }}' ng-selected='$first') {{ code }}
          .form-group.has-error
            p.help-block(ng-show='createForm.title.$error.required && createForm.codes.$error.required && createForm.$submitted')
              | Please enter a title and generate codes.
            p.help-block(ng-show='createForm.codesTotal.$error.number')
              | Only integers are allowed
            p.help-block {{ errors.other }}
          div
            button.btn.btn-inverse.btn-lg.btn-login(type='submit') Save
            = ' '
            button.btn.btn-default.btn-lg(type='reset', ng-click='abortCreate()') Cancel


      //    ***********************************
      //    *********   Edit Form     *********
      //    ***********************************
      
      div(ng-show='shouldShowEditForm()')
        h2 Editing {{ editedCampaign.title }}
        form.form(name='editForm', ng-submit='updateCampaign(editedCampaign, editForm)', novalidate='')
          div {{ editForm.$dirty ? 'DIRTY!' : 'not dirty yet...' }}
          .form-group
            label Title
            input.form-control(type='text', name='title', ng-model='editedCampaign.title', required)
          .form-group
            //- btn-checkbox-true="1" btn-checkbox-false="0")
            a.btn.btn-default(btn-checkbox, ng-model='editedCampaign.active') {{ editedCampaign.active ? 'Active' : 'Inactive' }}
          .form-group
            h3 Codes
            //- div.input-group
            //-   input.form-control(type='number', name='codesTotal', ng-model='codesTotal', required)
            //-   span.input-group-addon # of codes
            //- p
            //-   a.btn.btn-default.btn-xs(ng-click='generateCodes()') Add more codes
            //-   = ' '
            //-   select(name='codes', required)
            //-     option(selected='selected', disabled='disabled' ng-hide='newCodes.length') No new codes
            //-     option(ng-repeat='code in newCodes', value='{{ code }}' ng-selected='$first') {{ code }}
            //- a.btn.btn-inverse.btn-xs(ng-show='newCodes.length', ng-click='addMoreCodes(newCodes)') 
            //-   | OK?
            a.btn.btn-xs(ng-click='codesCollapsed = !codesCollapsed') {{ codesCollapsed ? 'Show' : 'Hide' }}
            ul.list-group(ng-show='editedCodes.length', collapse='codesCollapsed')
              li.list-group-item(ng-repeat='code in editedCodes')
                del(ng-show='code.redeemed')
                  | {{ code.value }}
                  span {{ code.redeemed ? 'Redeemed!' : '' }}
                span(ng-hide='code.redeemed')
                  | {{ code.value }}
          .form-group
            h3 Downloadables
              p
                a.btn.btn-default(ng-click="addFiles(editedCampaign)") Add files
              a.btn.btn-xs(ng-click='thingsCollapsed = !thingsCollapsed') {{ thingsCollapsed ? 'Show' : 'Hide' }}
              ul.list-group(collapse='thingsCollapsed')
                li.list-group-item(ng-repeat='thing in editedThings')
                  | {{ thing.name }}
                  = ' '
                  a(ng-href='#', ng-click='openFile(editedCampaign, thing)') 
                    | open
                  = ' '
                  a(ng-href='#', ng-click='downloadFile(editedCampaign, thing)') 
                    | dl 
          .form-group.has-error
            p.help-block(ng-show='editForm.title.$error.required && editForm.codes.$error.required && editForm.$submitted')
              | Please enter a title and generate codes.
            p.help-block(ng-show='editForm.codesTotal.$error.number')
              | Only integers are allowed
            p.help-block {{ errors.other }}
          div
            button.btn.btn-inverse.btn-lg.btn-login(type='submit') {{ editForm.$dirty ? 'Update' : 'OK' }}
            = ' '
            button.btn.btn-default.btn-lg(type='reset', ng-click='abortEdit()') Cancel
            = ' '
            button.btn.btn-default.btn-lg(type='reset', ng-click='deleteCampaign(editedCampaign)') Delete

      hr

.container
  h1 Users
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
  div(ng-show='isSuperAdmin()')
    a(href='/dev/seed_db') Seed Db
