div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  a.pull-right(href='#', btn-checkbox, ng-model='formExpanded')
    i.glyphicon.ng-scope.glyphicon-chevron-right(ng-class="{'glyphicon-chevron-down': formExpanded, 'glyphicon-chevron-right': !formExpanded}")
  .container(ng-show='showRedeemForm()')
    h1 Insert secret code
    p.lead ...and recieve downloads
    form(role='form', name='urlForm', ng-submit='submit()')
      div.input-group.input-group-lg
        input.form-control(type='text', placeholder='secret', ng-model='secretInput', required)
        span.input-group-btn
          button.btn.btn-default() GO!
      div(grecaptcha, ng-model='captcha')
    p.download-icons
      span.fa-stack.fa-3x
        i.fa.fa-stack-2x.fa-circle
        i.fa.fa-stack-1x.fa-unlock-alt.fa-inverse
      span.fa-stack.fa-3x
        i.fa.fa-stack-1x.fa-caret-right
      span.fa-stack.fa-3x
        i.fa.fa-stack-2x.fa-circle
        i.fa.fa-stack-1x.fa-envelope-o.fa-inverse
      span.fa-stack.fa-3x
        i.fa.fa-stack-1x.fa-caret-right
      span.fa-stack.fa-3x
        i.fa.fa-stack-2x.fa-circle
        i.fa.fa-stack-1x.fa-download.fa-inverse

.container(ng-show='hasPurchases()')
  h1 Your purchases
  ul.list-group
    li.list-group-item(ng-repeat='purchase in user.purchases')
      purchase(campaign='purchase.campaign')

footer.footer
  .container
    p
      a(href='https://europeurop.com/') Europeurop
      = ' | '
      year
